/* .dot {
  background-color: #333;
  background-image: radial-gradient(circle, #00f 15%, transparent 10%), radial-gradient(circle, #00f 15%, transparent 10%);
  background-size: 78px 78px;
  background-position: 0 0, 0 0;
  position: relative;
  height: 2000px;
  width: 100%;
  border: 2px solid red;
} */
